* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.button {
  padding: 1rem 2rem;
}
.color-yellow {
  color: $yellow-200;
}
a {
  color: inherit;
  &:hover {
    color: inherit;
  }
}
button {
  &:focus {
    box-shadow:  $shadow;
  }
}
.button-primary {
  color: $white-100;
  background-color: $green-200;
  padding: 1rem 2rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: block;
  width: 300px;
  &::after {
    content: '';
    background-color: rgba($color: $black-300, $alpha: 0.15);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    width: 100%;
    transition: width $transition;
  }
  &:hover {
    color: $white-100;
  }
  span {
    position: relative;
    z-index: 2;
  }
  &:hover::after {
    width: 0%;
  }
  &:focus {
    box-shadow:  $shadow;
  }
}
.button-primary-outline {
  color: $blue-300;
  background-color: transparent;
  border: 2px solid $green-200;
  padding: 1rem 2rem;
  text-align: center;
  position: relative;
}
.button-social {
  color: $white-100;
  background-color: $blue-200;
  padding: 1rem 2rem;
  text-align: center;
  transition: background $transition;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:focus {
    outline: none;
    box-shadow:  $shadow;
  }
  &:hover {
    background-color: $blue-300;
  }
}

.button-trivia {
  color: $black-300;
  border: black 3px solid;
  background-color: $white-100;
  padding: 1rem 2rem;
  text-align: center;
  transition: background $transition;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:focus {
    outline: none;
    box-shadow:  $shadow;
  }
  &:hover {
    background-color: $blue-300;
    color: white;
  }
}