$white-100: #fff;
$blue-100: #004481;
$blue-200: #004481;
$blue-300: #072146;
$black-200: #424242;
$black-300: #121212;
$green-200: #028484;
$yellow-200: #f8cd51;
$transition: ease-in-out 0.3s;
$shadow: 0px 0px 7px 0px rgba(0,0,0,0.6);
